* {
  top: 0;
  margin: 0;
}
.App {
  text-align: center;
  top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputfield {
  width: 150px;
  height: 24px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
}
.button {
  width: 140px;
  height: 40px;
  border-radius: 8px;
  background-color: crimson;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.label {
  color: #fff;
  font-size: 16px;
}
table,
th,
td {
  border: 1px solid;
}
label {
  display: inline-block;
  width: 300px;
  text-align: start;
}
.listButton {
  background: aquamarine;
  border: none;
  border-radius: 8px;
  width: 130px;
  height: 30px;
  margin-left: 80%;
  margin-top: 20px;
  font-weight: 600;
}
.prefix {
  margin-top: -42px;
  margin-left: 160px;
}
.placeholder {
  padding-left: 13px;
  width: 137px;
  height: 24px;
  margin-bottom: 18px;
}
.validation {
  color: red;
  position: relative;
  margin-left: 30%;
  margin-bottom: 10px;
}
.budgetVal {
  color: red;
  position: relative;
  margin-left: 30%;
}

.formStyle {
  box-shadow: 1px 1px 10px 0px #3b4455;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  background: #20293c;
}.tableBody{
  font: #282c34;
}
